@model ExamApp.Models.Exam
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                             @Model.Title
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            @Model.Text
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    @Model.Questions
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                                            <label class="btn " for="option1">A fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" checked>
                                            <label class="btn " for="option2">b fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" checked>
                                            <label class="btn " for="option3">c fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off" checked>
                                            <label class="btn " for="option4">d fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    Soru
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                                            <label class="btn " for="option1">A fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" checked>
                                            <label class="btn " for="option2">b fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" checked>
                                            <label class="btn " for="option3">c fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off" checked>
                                            <label class="btn " for="option4">d fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    Soru
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                                            <label class="btn " for="option1">A fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" checked>
                                            <label class="btn " for="option2">b fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" checked>
                                            <label class="btn " for="option3">c fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off" checked>
                                            <label class="btn " for="option4">d fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    Soru
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
                                            <label class="btn " for="option1">A fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" checked>
                                            <label class="btn " for="option2">b fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" checked>
                                            <label class="btn " for="option3">c fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off" checked>
                                            <label class="btn " for="option4">d fwefwefwe</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 exam-complate">
                <button class="btn btn-success">Sınavı tamamla</button>
            </div>

        </div>
    </div>
</div>
<style>
    .exam-complate {
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .row {
        margin-bottom: 15px
    }
</style>


